PAYMENT_SERVICE_PORT = 4005
NODE_ENV=development
PAYMENT_DB_URL=postgres://bus_booking_payment_user:bus_booking_payment__password@bus_booking-payment-db:5432/bus_booking_payment_service


BOOKING_GRPC_HOST=localhost:50052
PAYMENT_GRPC_PORT=50053

INTERNAL_API_TOKEN=your_internal_api_token
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret