INVENTORY_SERVICE_PORT = 4003
NODE_ENV=development
INVENTORY_DB_URL=postgres://bus_booking_inventory_user:bus_booking_inventory_password@inventory-db:5432/bus_booking_inventory_service
INVENTORY_DB_SSL=false
INVENTORY_GRPC_PORT=50051

INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

INTERNAL_API_TOKEN=your_internal_api_token

