NOTiFiCATION_SERVICE_PORT = 4006
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@bus_booking-rabbitmq:5672

FRONTEND_URL = your_frontend_url
API_URL= your_api_url

RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_email_from
INTERNAL_API_TOKEN=your_internal_api_token
