JWT_SECRET = your_jwt_secret_key
JWT_EXPIRES_IN = your_jwt_expiration_time
JWT_REFRESH_EXPIRES_IN = your_jwt_refresh_expiration_time
JWT_REFRESH_SECRET = your_jwt_refresh_secret_key
INTERNAL_AUTH_TOKEN = your_internal_auth_token
INTERNAL_API_TOKEN = your_internal_api_token


NODE_ENV=development
AUTH_DB_URL= mysql://bus_booking_auth_user:bus_booking_auth_password@auth-db:3306/bus_booking_auth_service
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379


PORT=4001

DB_HOST=auth-db
DB_PORT=3306
DB_NAME=bus_booking_auth_service
DB_USER=bus_booking_auth_user
DB_PASSWORD=bus_booking_auth_password
